<h1>Edit Landmark</h1>
<form  action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="patch" id="hidden">

  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>" >
  <input type="number" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">

  <input type="submit" name="" value="Edit Landmark" id="submit">

</form>
