<h1>Create New Landmark</h1>
<form  action="/landmarks" method="post">

  <input type="text" name="landmark[name]" id="landmark_name" >
  <input type="number" name="landmark[year_completed]" value="" id="landmark_year_completed">

  <input type="submit" name="" value="Create New Landmark" id="submit">

</form>
